In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("GoodsOrder.csv")
data.head()

   id  Goods
0   1  柑橘类水果
1   1   人造黄油
2   1    即食汤
3   1  半成品面包
4   2     咖啡

In [4]:
data['Goods'] = data['Goods'].apply(lambda x: ',' + x)
data['Goods'].head()

0    ,柑橘类水果
1     ,人造黄油
2      ,即食汤
3    ,半成品面包
4       ,咖啡
Name: Goods, dtype: object

In [5]:
data = data.groupby('id').sum().reset_index()
data.head()

   id                  Goods
0   1  ,柑橘类水果,人造黄油,即食汤,半成品面包
1   2            ,咖啡,热带水果,酸奶
2   3                  ,全脂牛奶
3   4      ,奶油乳酪,肉泥,仁果类水果,酸奶
4   5      ,炼乳,长面包,其他蔬菜,全脂牛奶

In [6]:
data['Goods'] = data['Goods'].apply(lambda x: [x[1:]])
data['Goods'].head()

0    [柑橘类水果,人造黄油,即食汤,半成品面包]
1              [咖啡,热带水果,酸奶]
2                    [全脂牛奶]
3        [奶油乳酪,肉泥,仁果类水果,酸奶]
4        [炼乳,长面包,其他蔬菜,全脂牛奶]
Name: Goods, dtype: object

In [10]:
data_list = list(data['Goods'])
data_list[0: 5]

[['柑橘类水果,人造黄油,即食汤,半成品面包'],
 ['咖啡,热带水果,酸奶'],
 ['全脂牛奶'],
 ['奶油乳酪,肉泥,仁果类水果,酸奶'],
 ['炼乳,长面包,其他蔬菜,全脂牛奶']]

In [14]:
# 分割商品名为每个元素
data_transaction = []
for i in data_list:
    p = i[0].split(',')
    data_transaction.append(p)

data_transaction[0: 5]

[['柑橘类水果', '人造黄油', '即食汤', '半成品面包'],
 ['咖啡', '热带水果', '酸奶'],
 ['全脂牛奶'],
 ['奶油乳酪', '肉泥', '仁果类水果', '酸奶'],
 ['炼乳', '长面包', '其他蔬菜', '全脂牛奶']]